<ion-header>
  <ion-toolbar>
    <ion-title>PlanoSaudeEdicao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-input type="text" [(ngModel)]="planoSaude.descricao" ></ion-input>
  </ion-item>


</ion-content>



<ion-footer>
  <ion-toolbar>    
    <ion-button expand="full" (click)="salvar()" >
      <ion-icon slot="start" name="save" ></ion-icon>
      Salvar
    </ion-button>
  </ion-toolbar>
</ion-footer>


