<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Projeto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Valor</ion-label>
    <ion-input type="number" [(ngModel)]="valor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Conversão</ion-label>
    <ion-select [(ngModel)]="conversao">
      <ion-select-option value="DOLAR">DOLAR</ion-select-option>
      <ion-select-option value="REAL">REAL</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cotação</ion-label>
    <ion-input type="number" [(ngModel)]="cotacao"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Resultado</ion-label>
    <ion-input type="number" readonly  [(ngModel)]="resultado"></ion-input>
  </ion-item>


</ion-content>


<ion-footer>
  <ion-toolbar>    
    <ion-button expand="full" (click)="converter()" >
      <ion-icon slot="start" name="save" ></ion-icon>
      Converter
    </ion-button>
  </ion-toolbar>
</ion-footer>