<table id="table-dados">
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Descrição
            </td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let plano of planosSaude">
            <td>{{plano.id}}</td>
            <td>{{plano.descricao}}</td>
        </tr>
    </tbody>

</table>