<table id="table-dados">
    <thead>
        <tr>
            <td>
                Codigo
            </td>
            <td>
                Nome
            </td>
            <td>
                Nasc.
            </td>
            <td>
                CPF
            </td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let pessoa of pessoas">
            <td>{{pessoa.codigo}}</td>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.dataNascimento}}</td>
            <td>{{pessoa.cpf}}</td>
        </tr>
    </tbody>

</table>

<button (click)="addPessoaClick()">Add Pessoa</button>