
#table-dados
{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

#table-dados thead
{
    background-color: darkgrey;
    font-weight: bold;
}

#table-dados thead tr td
{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

#table-dados tbody tr td
{
    border: 1px solid black;
    border-collapse: collapse;
}
