<ion-header>
  <ion-toolbar>
    <ion-title>RegistroUsuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.nome" ></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">E-Mail</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.email"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.senha" ></ion-input>
  </ion-item>


</ion-content>



<ion-footer>
  <ion-toolbar>    
    <ion-button expand="full" (click)="salvar()" >
      <ion-icon slot="start" name="save" ></ion-icon>
      Salvar
    </ion-button>
  </ion-toolbar>
</ion-footer>
