#main
{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: chartreuse;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    left: 0;
    top:0;
    align-content:center
}

#main2
{
    position: absolute;
    height: 150px;
    width: 450px;
    background-color: chartreuse;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    right: 0;
    top:0;
}

#main3
{
    position: absolute;
    height: 150px;
    width: 450px;
    background-color:slateblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    right: 0;
    top: 150;
}

#main4
{
    position: absolute;
    height: 150px;
    width: 450px;
    background-color:teal;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    left: 0;
    top: 300;
}


.tam
{
    height: 128px;
    width: 128px;
}


.tam2
{
    height: 96px;
    width: 96px;
}

.tam3
{
    width: 96px;
}


.A
{
    background-color: darkblue;
    color: white;
}

.B
{
    background-color: darkcyan;
}

.C
{
    background-color: darkmagenta;
    color: white;

}





.AA
{
    background-color: darkblue;
    color: white;
    order: 2;
}

.BB
{
    background-color: darkcyan;
    order: 1;
}

.CC
{
    background-color: darkmagenta;
    color: white;
    order: 0;
}
