h1 {
  font-family: Verdana;  
  text-decoration: underline;
}

h2 {
    color: blue;
    font-family:  'Tahoma';
    font-weight: bold;
}

h3
{
    background-image: url('../img/borda2.png');
    line-height: 50px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 500px 10px;
}

h4
{
    border-color: orange;
    border-style: double;
    border-width: 10px;
}


li {
    color: greenyellow; 
    background-color: black;
    font-style: italic;
    text-align: right;
}

body {
    font-family: 'Courier New';
    margin: 0px;
}

p {
    line-height: 30px;
    
    padding: 10px;
    
    text-align: right;
    text-justify: distribute;
    border: 1px solid black;

    margin: 100px;

}

img{
    height: 40px;
    text-align: right;
}
span
{
    font-weight: bold;
}

div
{
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    text-align: center;
    position: fixed;
    left: 20%;
    top: 20%;
    z-index: -999999;
}

#frase
{
    font-family: Verdana; 
    font-style: italic;
    border: 0px;
}

.titulo
{
    text-decoration: underline;
}

.subtitulo
{
    font-style: italic;
}

