header
{
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 8%;
    color: chartreuse;
    display: flex;
    align-items: center;   
}

header h3
{
    margin-left: 5px;
    color: blue;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#table-dados
{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

#table-dados thead
{
    background-color: darkgrey;
    font-weight: bold;
}

#table-dados thead tr td
{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

#table-dados tbody tr td
{
    border: 1px solid black;
    border-collapse: collapse;
}

.control-field
{
    width: 100%;
}

form
{
    display: flex;
    justify-content: center;
}