<ion-header>
  <ion-toolbar>
    <ion-title>logon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content">

    <div id="central">

      <div id="login">
        <ion-item>
          <ion-label position="floating">E-Mail</ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="senha"></ion-input>
        </ion-item>
      </div>

      <div id="logon">
        <ion-button expand="full" fill="outline" shape="round" (click)="logon()">
          Logon
        </ion-button>
      </div>
    </div>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navRegistro()" >
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>