#content
{
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#central
{
    width: 100%;
}

#login
{
    width: 100%;   
}

#logon
{
    width: 100%;
}