<ion-app>

  <ion-menu (ionDidClose)="menuClose()" *ngIf="isLogged()" contentId="main" side="start" type="overlay">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>RH Plus</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>

        <ion-menu-toggle>
          <ion-item (click)="navHome()" >
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="navPlanoSaude()">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label>Plano de Saúde</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>

    <ion-footer>

      <ion-menu-toggle>
        <ion-item (click)="logoff()">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label>Logoff</ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>