#tablePlanoSaude
{
    height: 300px;
    position:absolute;
    width: 100%;
    border: 1px solid black;
}

nav
{
    position:absolute;
    bottom: 0;
    right: 0;
    height: 40px;
}

#btnnovo
{
    position: fixed;
    right: 10px;
    bottom: 10px;
}