<div id="tablePlanoSaude">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor R$</th>
        <th scope="col" style="width: 10px;">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planoSaude of getRegistrosPagina()">
        <th scope="row">{{planoSaude.id}}</th>
        <td>{{planoSaude.descricao}}</td>
        <td style="text-align: right;">{{planoSaude.valor.toLocaleString()}}</td>
        <td>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button type="button" class="btn btn-success" (click)="navEditarPlanoSaude(planoSaude)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deletePlanoSaude(planoSaude)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item {{disabledPrevious}}"><button class="page-link" (click)="paginaAnterior()">Previous</button>
      </li>
      <li *ngFor="let pagina of getPaginas()" class="page-item"><button class="page-link"
          (click)="setarPagina(pagina)">{{pagina}}</button></li>
      <li class="page-item {{disabledNext}}"><button class="page-link" (click)="proximaPagina()">Next</button></li>
    </ul>
  </nav>
</div>

<button (click)="criarNovo()" id="btnnovo" type="button" class="btn btn-primary">Novo</button>