<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RH Plus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RH Plus</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-text color="secondary">
      <h1>Bem Vindo {{usuario.nome}}</h1>
    </ion-text>
  </div>

  <ion-button expand="full" (click)="exit()" >
    <ion-icon slot="start" name="save" ></ion-icon>
    Exit
  </ion-button>
</ion-content>
