<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Equipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    
    <ion-item *ngFor="let equipe of equipes">
      <ion-label>
        <h2>{{equipe.nome}}</h2>
        <p>{{equipe.gritoguerra}}</p>
      </ion-label>

      <ion-button color="success" (click)="navEquipeAlterar(equipe)"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button color="danger" (click)="excluirEquipe(equipe)" ><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>

  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navEquipeInserir()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
