<ion-header>
  <ion-toolbar>
    <ion-title>Aluno Edição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Data Nascimento</ion-label>
    <ion-datetime></ion-datetime>
  </ion-item>  

  <ion-item>
    <ion-label>Genêro</ion-label>
    <ion-select interface="action-sheet">
      <ion-select-option value="m">Masculino</ion-select-option>
      <ion-select-option value="f">Feminino</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>


<ion-footer>
  <ion-toolbar>    
    <ion-button expand="full" (click)="salvar()" >
      <ion-icon slot="start" name="save" ></ion-icon>
      Salvar
    </ion-button>
  </ion-toolbar>
</ion-footer>

