<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
    <ion-title>Edição de Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="curso.nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Coordenador</ion-label>
    <ion-input type="text" [(ngModel)]="curso.coordenador"></ion-input>
  </ion-item>

</ion-content>


<ion-footer>
  <ion-toolbar>    
    <ion-button expand="full" (click)="salvar()" >
      <ion-icon slot="start" name="save" ></ion-icon>
      Salvar
    </ion-button>
  </ion-toolbar>
</ion-footer>

