<ion-header>
  <ion-toolbar>
    <ion-title>PlanoSaude</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>    
    <ion-item *ngFor="let planoSaude of planosSaude">
      <ion-label>
        <h2>{{planoSaude.descricao}}</h2>
      </ion-label>

      <ion-button color="success" (click)="navPlanoSaudeAlterar(planoSaude)"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button color="danger" (click)="excluirPlanoSaude(planoSaude)" ><ion-icon name="trash"></ion-icon></ion-button>
   </ion-item>

  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navPlanoSaudeInserir()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>  

</ion-content>
