body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

p
{
    text-indent: 5%;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

h1
{
    background-image: url('../img/sobre-background.jpg');
}

h2
{
    border-bottom: 2px solid black;
}

figure
{
    background-color: #f2edeb;
    border: 1px solid #d2d2d2;
    text-align: center;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

figcaption
{
    font-style: italic;
    margin-top: 10px;
}

#centroDistribuicao
{
    width: 550px;
    margin-right: auto;
    margin-left: auto;
}

#familhaPelho{
    float: right
}

#compreloja {
    background-image: url('');
    background-color: #dbdbf3;
    color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    
}

.rodape
{
    margin-left: 10px;
}

.rodape #imagem
{
    width: 94px;
}

.rodape span
{
    
    margin-left:50px;
    
}