<form>
    <div class="form-group">
      <label for="Descrição">Descrição</label>
      <input (input)="planoSaude.descricao=$event.target.value" [value]="planoSaude.descricao" type="text" class="form-control"  aria-describedby="descricaoHelp"  >
      <small id="descricaoHelp" class="form-text text-muted">Digite uma descrição</small>
    </div>
    <div class="form-group">
        <label for="Valor">Valor</label>
        <input (input)="planoSaude.valor=$event.target.value" [value]="planoSaude.valor" type="number" class="form-control"  aria-describedby="valorHelp">
        <small id="valorHelp" class="form-text text-muted">Digite uma descrição</small>
      </div>
      <button (click)="salvar()" type="button" class="btn btn-primary">Salvar</button>
  </form>