<ion-app>

  <ion-menu side="start" contentId="main" >

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu Principal</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle> 
          <ion-item (click)="navHome()" >
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
          <ion-item (click)="navCurso()" >
            <ion-icon slot="start" name="library"></ion-icon>
            <ion-label>Curso</ion-label>
          </ion-item>
          <ion-item (click)="navAluno()">
            <ion-icon slot="start" name="school"></ion-icon>
            <ion-label>Aluno</ion-label>
          </ion-item>
          <ion-item (click)="navEquipe()">
            <ion-icon slot="start" name="people-circle"></ion-icon>
            <ion-label>Equipe</ion-label>
          </ion-item>
          <ion-item (click)="navProjeto()">
            <ion-icon slot="start" name="rocket"></ion-icon>
            <ion-label>Projeto</ion-label>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" src="../assets/avo.svg" ></ion-icon>
            <ion-label>Cadastro de Avós</ion-label>
          </ion-item>


        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
